.container {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.signinform {
  padding: 20px;
  background-color: white;
  z-index: 10;
  position: relative;
  border-radius: 15px;
}

.signin_title {
  margin-top: .5em;
  margin-bottom: 1.2em;
}

.container h1 {
  font-family: Ariel, sans-serif;
  font-weight: bold;
  color: black;
  font-size: 1.75rem;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
  justify-items: center;
  text-align: center;
  font-size: 3rem;
}

.container p {
  text-align: center;
}

.container div {
  margin-bottom: 1rem;
  background-color: white;
  border: none;
}

.container div label {
  display: block;
  font-weight: 800;
  margin-bottom: .25rem;
  color: #3D3D3D;

}

.container div input {
  display: block;
  width: 100%;
  height: 35px;
  border: 2px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  background-color: #f2f2f2;
  color: black;
}

.container div input:hover {
  border-color: var(--border);
}

.container div input::placeholder {
  color: var(--text-secondary);
}

.container form button {
  display: block;
  width: 97%;
  margin-left: 10px;
  padding: .5rem, 1rem;
  color: white;
  border-radius: 8px;
  border: none;
  height: 35px;
  font-weight: 600;
  font-size: 1rem;
}

.container form button:disabled {
  background-color: var(--brand-disabled);
}

.container form button:hover:not(:disabled) {
  background-color: var(--brand-hover);
  cursor: pointer;
}

.formcontrol {
  margin: 0px, 100px, 0px, 100px;

}

.image {
  background-image: url(./soccer.gif);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 10rem;
}

.button {
  font-size: 18px;
  font-weight: 900;
  color: white;
  background-color: var(--button-background);
  border: none;
  margin: 0.7rem;
  padding: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 8px;
  width: 97%;
  margin-left: 10px;
}

.button:hover {
  background-color: var(--brand-hover);
  color: white;
}

.button:disabled {
  background-color: var(--brand-disabled);
  cursor: not-allowed;
  color: white;
}

.signupLink {
  text-align: center;
  margin-top: 1rem;
}

.signupLink a {
  text-decoration: none;
}

.signupLink a::after {
  bottom: -10px;
}

.signupLink a:hover {
  text-decoration: underline;
}