.leagueTable {
    color: white;
    font-family: Arial, Helvetica, sans-serif !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.container h3 {
    font-size: 28px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif !important;
    margin-bottom: 10px;
    color:white;
}

.container p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif !important;
    color:white;
}

.leagueTeam {
    display: flex;
    flex-direction: row;
    width: 120%;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif !important;
}

.leagueButton {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

.joinLeagueButton {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.spacer {
    height: -10px;
}

.createButton {
    background-color: var(--brand);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.joinButton {
    background-color: var(--brand);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}