.leagueTable {
    color: white;
    font-family: Arial, Helvetica, sans-serif !important;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 20px;
    margin-left: 10px;
    width: 70%
}

.joinLeagueTable {
    color: white;
    font-family: Arial, Helvetica, sans-serif !important;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 10px;
}

.container h3 {
    font-size: 28px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif !important;
    margin-bottom: 10px;
    color:white;
}

.container p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif !important;
    color:white;
}

.leagueTeam {
    display: flex;
    flex-direction: row;
    width: 120%;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif !important;
}

.leagueJoin {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif !important;
}

.leagueButton {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

.joinLeagueButton {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.spacer {
    height: -10px;
}

.createButton {
    background-color: var(--button-secondary);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 10px 0;
    width: 200px;
}

.joinButton {
    background-color: var(--button-secondary);
    color: white;
    padding: 0px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 900;
}

.joinButton:hover {
    background-color: var(--button-hover);
}

.createButton:hover {
    background-color: var(--button-hover);
}

.joinLeagueButton:hover {
    background-color: var(--button-hover);
}